<!-- Step-11 -->
<div *ngIf="stepNumber == 1" class="steps" id="step-11"> <a [routerLink]="['/main/step3']" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <form [formGroup]="registerForm" class="custom-form form-margin form" action="" method="post">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label>Birthdate</label>
            <input formControlName="birthdate" type="text" name="" class="form-control" bsDatepicker [(ngModel)]="dataModel.birthdate" placeholder="DD/MM/YYYY">
            <span class="calendar-icon"> <i class="far fa-calendar-alt"></i> </span> </div>
            <div *ngIf="f.birthdate.errors && f.birthdate.invalid && (f.birthdate.dirty || f.birthdate.touched)">
                            <div class="form-error" *ngIf="f.birthdate.errors.required">Birthdate is required</div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Retirement Age</label>
            <select formControlName="retirementAge" class="form-control" name="" [(ngModel)]="dataModel.retirementAge" >
              <option *ngFor="let retirementAge of retirementAges" [value]="retirementAge">{{retirementAge}}</option>
            </select>
            <div *ngIf="f.retirementAge.errors && f.retirementAge.invalid && (f.retirementAge.dirty || f.retirementAge.touched)">
                            <div class="form-error" *ngIf="f.retirementAge.errors.required">Retirement Age is required</div>
                            <div class="form-error" *ngIf="f.retirementAge.errors.minlength">Min Age 1</div>
                            <div class="form-error" *ngIf="f.retirementAge.errors.maxlength">Max Age 999</div>
                            <div class="form-error" *ngIf="f.retirementAge.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Current Pension Savings</label>
            <input formControlName="currentSavingsInPension" type="text" name="" class="form-control" [(ngModel)]="dataModel.currentSavingsInPension" placeholder="eg. $1500. $2500">
            <div *ngIf="f.currentSavingsInPension.errors && f.currentSavingsInPension.invalid && (f.currentSavingsInPension.dirty || f.currentSavingsInPension.touched)">
                            <div class="form-error" *ngIf="f.currentSavingsInPension.errors.required">Current Pension Savings is required</div>
                            <div class="form-error" *ngIf="f.currentSavingsInPension.errors.minlength">Min Value 0</div>
                            <div class="form-error" *ngIf="f.currentSavingsInPension.errors.maxlength">Max Value 999999999</div>
                            <div class="form-error" *ngIf="f.currentSavingsInPension.errors.min">Min Value 0</div>

            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Monthly Saving Amount</label>
            <input formControlName="monthlySavings" type="text" name="" class="form-control" [(ngModel)]="dataModel.monthlySavings">
            <div *ngIf="f.monthlySavings.errors && f.monthlySavings.invalid && (f.monthlySavings.dirty || f.monthlySavings.touched)">
                            <div class="form-error" *ngIf="f.monthlySavings.errors.required">Monthly Saving amount is required</div>
                            <div class="form-error" *ngIf="f.monthlySavings.errors.minlength">Min Value 0</div>
                            <div class="form-error" *ngIf="f.monthlySavings.errors.maxlength">Max Value 999999999</div>
                            <div class="form-error" *ngIf="f.monthlySavings.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label>Select An Interest Rate</label>
            <select formControlName="interestRate" class="form-control" name="" [(ngModel)]="dataModel.interestRate">
              <option *ngFor="let interestRate of interestRates" [value]="interestRate">{{ (interestRate*100)}}%</option>
            </select>
            <div *ngIf="f.interestRate.errors && f.interestRate.invalid && (f.interestRate.dirty || f.interestRate.touched)">
                            <div class="form-error" *ngIf="f.interestRate.errors.required">Interest Rate is required</div>
                            <div class="form-error" *ngIf="f.interestRate.errors.minlength">Min Value 0</div>
                            <div class="form-error" *ngIf="f.interestRate.errors.maxlength">Max Value 999999999</div>
                            <div class="form-error" *ngIf="f.interestRate.errors.min">Min Value 0</div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left m-t-20"> <a [ngClass]="{'disabled': f.interestRate.invalid || f.monthlySavings.invalid ||
      f.birthdate.invalid || f.retirementAge.invalid || f.currentSavingsInPension.invalid }" (click)="calculate()" title="Next" class="btn"> Next </a> </div>
    </form>
  </div>
</div>

<!-- Step-12 -->
<div class="steps" id="step-12" *ngIf="stepNumber == 2"> <a (click)="changeToPreviousStep()" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <div class="text-center m-t-50 m-b-30"> <span class="result-output"> <img src="assets/img/check.png" alt="Check">
            <h3 class="m-b-30 f-24 -m-t-20">Total Estimated Pension Savings</h3>
            <strong class="w-100 d-inline-block m-b-10"> ${{result.totalEstimatedAccumulatedPension | numberFormatFilter}} </strong> </span></div>
  </div>
</div>
