<!-- Step-1 -->
<div class="steps" id="step-1"> <a [routerLink]="['/welcome']" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap">
    <div class="text-center"> <img src="assets/img/users.png" alt="Users"> </div>
    <h3 class="text-center m-t-30">Are you a member of a Managed Employer <br>
      Pasion plan?</h3>
    <div class="text-center m-t-50"> <a href="javascript:void(0)" title="Yes" [routerLink]="['/main/step2']" class="btn m-r-10 xs-m-r-0"> Yes </a> <a [routerLink]="['/main/step3']" href="javascript:void(0)" title="No" class="btn no"> No </a> </div>
  </div>
</div>
