<!-- Step-8 -->
<div class="steps" id="step-8"> <a href="javascript:void(0)" [routerLink]="['/main/step1']" class="back-btn" id="back-btn" title="Click to Back"> <i class="fas fa-arrow-circle-left"></i> </a>
  <div class="step-wrap text-center">
    <h3 class="w-100 text-center">Choose a Quick Calculator</h3>
    <div class="quick-wrap m-t-55 m-r-10"> <span class="quick-cal"> <strong>A</strong>
            <h6>Estimate How Much I need to Save</h6>
            </span>
      <div class="text-center m-t-25"> <a href="javascript:void(0)" [routerLink]="['/main/step3calca']" title="Select A" class="btn"> Select A </a> </div>
    </div>
    <div class="quick-wrap m-t-55"> <span class="quick-cal"> <strong>B</strong>
            <h6>Estimate the find total of my Monthly Saving</h6>
            </span>
      <div class="text-center m-t-25"> <a href="javascript:void(0)" [routerLink]="['/main/step3calcb']" title="Select B" class="btn no"> Select B </a> </div>
    </div>
  </div>
</div>
