<!-- Login -->
<div class="m-v-25">
  <div class="container">
    <div class="login-wrap">
      <div class="login-main">
        <!-- Login Form -->
        <form [formGroup]="registerForm" class="m-t-40 d-inline-block w-100">
          <div class="form-group">
            <label>Admin</label>
            <input formControlName="username" type="text" name="user" [(ngModel)]="data.username" class="form-control">
            <div *ngIf="f.username.errors && f.username.invalid && (f.username.dirty || f.username.touched)">
                            <div class="form-error" *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input formControlName="password" type="password" name="pass" [(ngModel)]="data.password" class="form-control">
            <div *ngIf="f.password.errors && f.password.invalid && (f.password.dirty || f.password.touched)">
                            <div class="form-error" *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="remember">
            <label class="form-check-label" for="remember">Click to remember me</label>
          </div>
          <button type="button" name="loginBtn" [disabled]="f.password.invalid || f.username.invalid"
          (click)="login()" class="btn w-100 m-t-25"> Login </button>
        </form>
        <a [routerLink]="['/forgot-password']" title="Forgot Password?" class="forgot-password text-left w-100 d-inline-block"> Forgot Password? </a>

    </div>
    </div>
</div>
