@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

* {
  margin: 0;
  padding: 0;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

/* Common files */

.modal-open {
  overflow: auto !important;
  padding: 0 !important
}

.modal-open .modal {
  overflow-y: hidden !important;
}

.data-container, .data-container.calu-steps::after, .result-output::after, span.quick-cal::after, .wide-output .percent, span.quick-cal strong {
  background: rgba(68, 128, 176, 1);
  background: -moz-linear-gradient(-45deg, rgba(68, 128, 176, 1) 0%, rgba(18, 163, 148, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(68, 128, 176, 1)), color-stop(100%, rgba(18, 163, 148, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(68, 128, 176, 1) 0%, rgba(18, 163, 148, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(68, 128, 176, 1) 0%, rgba(18, 163, 148, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(68, 128, 176, 1) 0%, rgba(18, 163, 148, 1) 100%);
  background: linear-gradient(135deg, rgba(68, 128, 176, 1) 0%, rgba(18, 163, 148, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4480b0', endColorstr='#12a394', GradientType=1);
}

/* Desktop */

/* Header */

.header {
  height: 130px;
  border-bottom: 1px solid #e5e5e5;
  padding: 40px 0;
}

span.logo img {
  max-width: 194px;
}

span.logo a {
  display: inline-block;
}

span.menu a {
  color: #01335a;
  font-size: 30px;
}

/* Mid Content */

.data-container {
  width: 100%;
  min-height: 520px;
  display: inline-block;
}

.custom-heading {
  color: #00457c;
  font-size: 28px;
  font-weight: bold;
}

/* Info Page */

.info-page h2 {
  margin: 0 0 25px;
  padding: 0;
  color: #fff;
  line-height: 32px;
}

.info-page p {
  font-size: 17px;
  color: #fff;
  font-weight: 300;
}

.info-page img.slideImg {
  position: relative;
  top: -50px;
  box-shadow: -50px 0 80px 0 #00000054;
  max-width: 475px;
}

.info-page a.btn {
  font-size: 25px;
  color: #00457c;
  background: #fff;
  font-weight: bold;
  line-height: 40px;
  padding: 8px 30px;
  margin-top: 40px;
  box-shadow: 3px 3px 10px -2px #00457cb0;
}

.info-page a.btn:hover, .info-page a.btn:focus {
  background: #00457c;
  color: #fff;
}

/* Steps */

.data-container.calu-steps {
  background: #f8f6f6;
  position: relative;
  box-shadow: 0 75px 100px -90px #000000cf;
}

.data-container.calu-steps::after, .result-output::after, span.quick-cal::after {
  content: '';
  height: 8px;
  width: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Step-1 */

.back-btn {
  color: #aaaaaa;
  font-size: 25px;
  position: absolute;
  left: 25px;
  top: 20px;
}

.back-btn:hover, .back-btn:focus {
  color: #00457c;
}

.step-wrap {
  width: 700px;
  margin: 0 auto;
}

.steps h3 {
  font-size: 28px;
  color: #00457c;
  font-weight: 600;
}

.steps a.btn {
  font-size: 18px;
  font-weight: bold;
  background: #00457c;
  color: #fff;
  padding: 7px 45px;
}

.steps a.btn.no {
  background: #91969a;
}

/* Step-2 */

.custom-form label {
  font-size: 18px;
  color: #00457c;
  font-weight: 700;
}

.custom-form input, .custom-form select {
  border: 2px solid #4893c3;
  font-size: 16px;
  color: #858585;
  height: 42px;
}

.custom-form input:focus, .custom-form select:focus {
  outline: none;
  box-shadow: none;
}

.custom-form .form-group {
  position: relative;
}

span.calendar-icon {
  position: absolute;
  right: 10px;
  top: 37px;
  color: #075a9b;
  font-size: 22px;
  cursor: pointer;
}

/* Step-3 */

.label {
  font-size: 18px;
  color: #00457c;
  font-weight: 700;
}

.result-output {
  font-size: 40px;
  font-weight: 400;
  color: #00457c;
  display: inline-block;
  background: #fff;
  padding: 10px 90px;
  position: relative;
  min-height: 150px;
}

.result-output strong {
  position: relative;
  top: -20px;
}

.result-output img {
  margin-top: -80px;
}

.note-text {
  color: #00457c;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-style: italic;
}

/* Step-4 */

.wide-output {
  width: 100%;
  background: #fff;
  display: inline-block;
  border: 1px solid #d0cfcf;
  padding: 15px;
  position: relative;
  margin-bottom: 20px
}

.wide-output h5 {
  font-size: 18px;
  color: #00457c;
  font-weight: 700;
  margin: 0;
  padding-left: 22px;
}

.wide-output strong {
  font-size: 40px;
  font-weight: bold;
  color: #00457c;
}

.wide-output .percent {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  display: inline-block;
  font-size: 22px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top: 18px;
}

.wide-output::before {
  content: '';
  background-image: url('../img/check.png');
  height: 58px;
  width: 58px;
  display: inline-block;
  position: absolute;
  left: -30px;
  top: 20px;
}

/* Step-7 */

ul.summary {
  list-style: none;
  border-top: 1px solid #b8b8b8;
  border-bottom: 1px solid #b8b8b8;
  margin: 10px 0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

ul.summary li {
  color: #00457c;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

ul.summary li:last-child {
  margin-bottom: 0;
}

ul.summary li strong {
  font-size: 22px;
}

ul.summary li::before {
  content: '';
  background-image: url('../img/check.png');
  height: 30px;
  width: 30px;
  display: inline-block;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 0px;
}

/* Step-8 */

.quick-wrap {
  display: inline-block;
  text-align: center;
}

span.quick-cal {
  width: 215px;
  display: inline-block;
  background: #fff;
  padding: 20px;
  position: relative;
  min-height: 215px;
}

span.quick-cal strong {
  width: 55px;
  height: 55px;
  display: inline-block;
  border-radius: 55px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  padding-top: 10px;
  position: relative;
  top: -45px;
}

span.quick-cal h6 {
  font-size: 24px;
  font-weight: 300;
  color: #00457c;
  position: relative;
  top: -20px;
}

span.quick-cal::after {
  height: 4px;
}

/* Step-9 */

.custom-form.form-margin .form-group {
  margin-bottom: 30px;
}

/* step-10 */

.-m-t-20 {
  margin-top: -20px;
}

/* Footer */

.footer {
  background: #01335a;
  width: 100%;
  display: block;
  padding: 15px 0;
}

.footer ul {
  list-style: none;
  margin: 0;
}

.footer ul li {
  float: left;
  line-height: 15px;
}

.footer ul li, .footer ul li a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.footer ul li a {
  color: #65b7f7;
  text-decoration: underline;
}

.footer ul li a:hover {
  text-decoration: none;
}

ul.copyrights li:first-child {
  border-right: 1px solid #557690;
  margin-right: 15px;
  padding-right: 15px;
}

ul.socials li {
  margin-left: 15px;
}

ul.socials li a {
  color: #1f75a9;
}

ul.socials li a:hover {
  color: #fff;
}

/* Terms & Conditions */

#terms .modal-dialog {
  max-width: 750px;
}

#terms .modal-header {
  background: #07599b;
}

#terms .modal-title {
  color: #fff;
}

.terms_date p {
  font-size: 14px;
  color: #000;
}

/* Login */

.login-wrap {
  width: 500px;
  margin: 100px auto 150px;
}

.login-main {
  width: 100%;
  display: inline-block;
}

.login-logo {
  border-bottom: 1px solid #dadada;
  padding: 15px 0 40px;
  margin: 0 0 35px;
}

.login-main h1 {
  text-transform: uppercase;
  color: #333333;
  font-size: 30px;
  margin: 0;
  font-weight: bold;
}

.login-main small {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
  display: inline-block;
}

.login-main form .form-group label {
  font-size: 15px;
  color: #737373;
}

.login-main form .form-group input {
  height: 57px;
  border: 1px solid #bebebe;
  font-size: 18px;
  color: #646464;
  font-weight: bold;
  background: #fff0;
}

.login-main form .form-group input:focus {
  outline: none;
  box-shadow: none;
}

.login-main form .form-group input[type="checkbox"] {
  height: auto;
}

.login-main form .form-group label.form-check-label {
  font-weight: 300;
  font-size: 14px;
  color: #7f7f7f;
  position: relative;
  top: -2px;
}

.login-main form button {
  background: #00457c;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  height: 55px;
}

.forgot-password {
  color: #858585;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
  margin-top: 15px;
}

.forgot-password:hover {
  text-decoration: none;
}

/* Dashboard */

.dashboard-bg {
  background: #547c97;
}

.left-side {
  width: 260px;
  background: #547c97;
  height: 100vh;
  float: left;
  padding: 15px;
}

.dash-logo {
  border-bottom: 1px solid #86a9c6;
}

.dash-nav {
  list-style: none;
  margin: 20px 0 0;
}

.dash-nav li {
  float: left;
  width: 100%;
}

.dash-nav li a {
  background: #00457c;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 15px 22px;
  border-radius: 5px;
}

.dash-nav li a:hover{color: #fff;}

.dash-nav li a i {
  margin-right: 5px;
  font-size: 16px;
}

.dash-nav li a:hover {
  text-decoration: none;
  background: #00345e;
}

.right-side {
  width: calc(100% - 260px);
  background: #f0eeee;
  float: left;
  height: 100vh;
}

.dash-header {
  border-bottom: 1px solid #c9c9c9;
  padding: 32px 0;
}

.dash-header h2 {
  font-size: 28px;
  color: #455560;
  font-weight: 300
}

.dash-header h2 strong {
  font-weight: bold;
}

.dash-header ul {
  list-style: none;
}

.dash-header ul li {
  float: left;
}

.dash-header ul li a {
  color: #555555;
  font-size: 25px;
}

ul.sub-menu {
  background: #fff;
  display: inline-block;
  width: 150px;
  padding: 10px;
  position: absolute;
  right: 0;
  border-radius: 3px;
  display: none;
}

ul.sub-menu.show {
  display: block;
}

ul.sub-menu li {
  text-align: left;
  width: 100%;
}

ul.sub-menu li a {
  font-size: 16px;
  width: 100%;
  display: inline-block;
}

ul.sub-menu li a:hover {
  text-decoration: none;
}

/* Variable */

.variable-box {
  background: #fff;
  padding: 25px;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0 #00000021;
}

.variable-box h2 {
  font-size: 20px;
  font-weight: bold;
  color: #00457c;
  margin-bottom: 20px;
}

.variable-box ul {
  list-style: none;
}

.variable-box ul li {
  float: left;
  width: 100%;
  font-size: 16px;
  color: #00457c;
  margin-bottom: 15px;
}

.variable-box ul li:last-child {
  margin-bottom: 0
}

.variable-box ul li input, .variable-box ul li span {
  float: right;
  width: 100px;
  border-radius: 3px;
  text-align: center;
  height: 36px;
  border: 1px solid #aeaeae;
  font-size: 18px;
  color: #00457c;
  font-weight: bold;
  padding-top: 5px;
}

.variable-box ul li input{padding-top: 0;}

a.dashBtn {
  color: #fff;
  background: #00457c;
  font-weight: 600;
  padding: 8px 40px;
  margin-right: 10px;
}

a.dashBtn:hover, a.dashBtn:focus {
  color: #fff;
}

a.dashBtn.save {
  background: #91969a;
}
.form-error {
    color: red;
}

/* Mobile Media Queries */

@media only screen and (min-width:1px) and (max-width:767px) {
  /* Info Page */
  .data-container {
    height: auto;
  }
  span.logo {
    width: 100%;
  }
  .header {
    text-align: center;
  }
  .info-page img.slideImg {
    box-shadow: none;
    top: 0;
    max-width: 100%;
  }
  .info-page h2 {
    margin: 20px 0 15px;
    line-height: 25px;
    font-size: 21px;
  }
  .info-page a.btn {
    padding: 8px 20px;
    margin: 15px 0
  }
  .footer ul {
    width: 100%;
  }
  .footer ul li, .footer ul li a {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
  }
  ul.copyrights li:first-child {
    border: none;
  }
  .footer ul.socials {
    width: 100px;
    margin: 10px auto;
    float: none !important;
  }
  ul.socials li {
    width: auto;
  }
  .modal-body.terms_date {
    height: 350px;
    overflow-y: auto;
  }
  #terms .modal-footer {
    margin-top: 30px;
  }
  /* Steps */
  .step-wrap {
    width: 100%;
  }
  .steps h3 {
    font-size: 23px;
  }
  .back-btn {
    top: 10px;
    left: 10px;
  }
  .result-output {
    font-size: 30px;
    min-height: auto;
    padding: 10px 20px;
  }
  .wide-output h5 {
    padding-left: 0;
  }
  .wide-output .col-sm-4.text-right {
    text-align: center !important;
  }
  ul.summary li strong {
    text-align: left !important;
    width: 100%;
    display: inline-block;
  }
  ul.summary li {
    font-size: 14px;
  }
  .steps a.btn {
    padding: 7px 30px;
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
  }
  /* Login */
  .login-wrap {
    width: 100%;
    margin: 0 auto;
  }
  /* Dashboard */
  .left-side {
    display: none;
  }
  .right-side {
    width: 100%;
    height: 100%;
  }
  .variable-box ul li input, .variable-box ul li span {
    width: 100%;
    float: left;
    margin-top: 8px;
  }
  ul.sub-menu {
    right: 15px;
  }
  .dash-header {
    border-top: 1px solid #c9c9c9;
  }
  .dash-header h2 {
    font-size: 20px;
  }
}

/* Mid Mobile */

@media only screen and (min-width:576px) and (max-width:767px) {
  .info-page h2 {
    margin-top: 0;
  }
}

/* iPad Media Queries */

@media only screen and (min-width:768px) and (max-width:1150px) {
  .data-container {
    height: auto;
  }
  .info-page img.slideImg {
    box-shadow: none;
    top: 0;
    max-width: 100%;
  }
  .footer ul li, .footer ul li a {
    font-size: 12px;
  }
  .step-wrap {
    width: 100%;
  }
  .steps h3 {
    font-size: 25px;
  }
  .custom-form label {
    font-size: 16px;
  }
  .right-side {
    height: auto;
  }
}
