<!-- Dashboard -->
<div class="dashboard-bg">

<!-- Left Side -->
<div class="left-side">

  <div class="dash-logo text-center p-v-15 p-b-25">
    <a href="javascript:void(0)" title="Fortress Fund Managers"> <img src="assets/img/dashboard-logo.png" class="img-fluid" alt="Logo"> </a>
  </div>

  <ul class="dash-nav">
    <li class="m-b-10"> <a href="javascript:void(0)" title="NIS Calculator"> <i class="fas fa-calculator"></i> NIS Calculator </a> </li>
    <li> <a (click)="logout()" href="javascript:void(0)" title="Logout"> <i class="fas fa-sign-out-alt"></i> Logout </a> </li>
  </ul>

</div>


<!-- Right Side -->
<div class="right-side">
  <div class="p-h-30 xs-p-h-15">

    <!-- Mobile Header -->
    <div class="text-center d-block d-sm-none d-md-none d-lg-none xs-p-v-20">
      <a href="javascript:void(0)" title="Fortress Fund Managers"> <img src="assets/img/foryress-logo.png" class="img-fluid" alt="Logo"> </a>
    </div>

    <!-- Dashboard Header -->
    <div class="dash-header">
      <div class="row">
        <div class="col-sm-8 col-8">
          <h2 class="m-0">Welcome to <strong>Fortress Fund Managers</strong> </h2>
        </div>
        <div class="col-sm-4 col-4">
          <ul class="float-right m-0">
            <li> <a href="javascript:void(0)" class="user"> <i class="material-icons">person</i> </a>
              <ul class="sub-menu">
                <li> <a href="Javascript:void(0);" title="Log Out"> Log Out </a> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- NIS Variable -->
    <div [formGroup]="registerForm" class="p-30 xs-p-0 xs-p-v-15">
      <div class="row m-b-15">
        <div class="col-lg-6 col-md-12">
          <div class="variable-box">
            <h2>NIS Variables</h2>
            <ul>
              <li>- Regular Contribution below ceiling
                <input formControlName="regularContributionBelowCeiling" *ngIf="uiMode == 'WRITE'" type="number"  [(ngModel)]="dashboard.regularContributionBelowCeiling" placeholder="%">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.regularContributionBelowCeiling}}% </span>
                <div class="form-error" *ngIf="f.regularContributionBelowCeiling.errors && f.regularContributionBelowCeiling.invalid && (f.regularContributionBelowCeiling.dirty || f.regularContributionBelowCeiling.touched)">
                  <div *ngIf="f.regularContributionBelowCeiling.errors.required">Regular Contribution below ceiling is required</div>
                  <div *ngIf="f.regularContributionBelowCeiling.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.regularContributionBelowCeiling.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.regularContributionBelowCeiling.errors.min">Min Value 0</div>
                </div>
              </li>
              <li>- Regular Contribution above ceiling
                <input formControlName="regularContributionAboveCeiling" *ngIf="uiMode == 'WRITE'" type="number"  [(ngModel)]="dashboard.regularContributionAboveCeiling" placeholder="%">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.regularContributionAboveCeiling}}% </span>
                <div class="form-error" *ngIf="f.regularContributionAboveCeiling.errors && f.regularContributionAboveCeiling.invalid && (f.regularContributionAboveCeiling.dirty || f.regularContributionAboveCeiling.touched)">
                  <div *ngIf="f.regularContributionAboveCeiling.errors.required">Regular Contribution above ceiling is required</div>
                  <div *ngIf="f.regularContributionAboveCeiling.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.regularContributionAboveCeiling.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.regularContributionAboveCeiling.errors.min">Min Value 0</div>
                </div>
              </li>
              <li>- AVC Contribution below ceiling
                <input formControlName="avcContributionBelowCeiling" *ngIf="uiMode == 'WRITE'" type="number"  [(ngModel)]="dashboard.avcContributionBelowCeiling" placeholder="%">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.avcContributionBelowCeiling}}% </span>
                <div class="form-error" *ngIf="f.avcContributionBelowCeiling.errors && f.avcContributionBelowCeiling.invalid && (f.avcContributionBelowCeiling.dirty || f.avcContributionBelowCeiling.touched)">
                  <div *ngIf="f.avcContributionBelowCeiling.errors.required">AVC Contribution below ceiling is required</div>
                  <div *ngIf="f.avcContributionBelowCeiling.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.avcContributionBelowCeiling.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.avcContributionBelowCeiling.errors.min">Min Value 0</div>
                </div>
              </li>
              <li>- AVC Contribution above ceiling
                <input formControlName="avcContributionAboveCeiling" *ngIf="uiMode == 'WRITE'" type="number"  [(ngModel)]="dashboard.avcContributionAboveCeiling" placeholder="%">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.avcContributionAboveCeiling}}% </span>
                <div class="form-error" *ngIf="f.avcContributionAboveCeiling.errors && f.avcContributionAboveCeiling.invalid && (f.avcContributionAboveCeiling.dirty || f.avcContributionAboveCeiling.touched)">
                  <div *ngIf="f.avcContributionAboveCeiling.errors.required">AVC Contribution above ceiling is required</div>
                  <div *ngIf="f.avcContributionAboveCeiling.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.avcContributionAboveCeiling.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.avcContributionAboveCeiling.errors.min">Min Value 0</div>
                </div>
              </li>
              <li>- NIS ceiling
                <input formControlName="nisCeiling" type="number"  *ngIf="uiMode == 'WRITE'" [(ngModel)]="dashboard.nisCeiling" placeholder="$">
                <span *ngIf="uiMode == 'READ'"> ${{dashboard.nisCeiling}} </span>
                <div class="form-error" *ngIf="f.nisCeiling.errors && f.nisCeiling.invalid && (f.nisCeiling.dirty || f.nisCeiling.touched)">
                  <div *ngIf="f.nisCeiling.errors.required">NIS ceiling is required</div>
                  <div *ngIf="f.nisCeiling.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.nisCeiling.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.nisCeiling.errors.min">Min Value 0</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="variable-box sm-m-t-30">
            <h2>User Variables</h2>
            <ul>
              <li>- Mandatory Retirement age
                <input formControlName="mandatoryRetirementAge" type="number"  *ngIf="uiMode == 'WRITE'" [(ngModel)]="dashboard.mandatoryRetirementAge">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.mandatoryRetirementAge}} </span>
                <div class="form-error" *ngIf="f.mandatoryRetirementAge.errors && f.mandatoryRetirementAge.invalid && (f.mandatoryRetirementAge.dirty || f.mandatoryRetirementAge.touched)">
                  <div *ngIf="f.mandatoryRetirementAge.errors.required">Mandatory Retirement age is required</div>
                  <div *ngIf="f.mandatoryRetirementAge.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.mandatoryRetirementAge.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.mandatoryRetirementAge.errors.min">Min Value 0</div>
                </div>
              </li>
              <li>- Assumed working age
                <input formControlName="assumedWorkingAge" type="number"  *ngIf="uiMode == 'WRITE'" [(ngModel)]="dashboard.assumedWorkingAge">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.assumedWorkingAge}} </span>
                <div class="form-error" *ngIf="f.assumedWorkingAge.errors && f.assumedWorkingAge.invalid && (f.assumedWorkingAge.dirty || f.assumedWorkingAge.touched)">
                  <div *ngIf="f.assumedWorkingAge.errors.required">Assumed working age is required</div>
                  <div *ngIf="f.assumedWorkingAge.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.assumedWorkingAge.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.assumedWorkingAge.errors.min">Min Value 0</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="variable-box">
            <h2>Style Variables</h2>
            <ul>
              <li>- Aggressive
                <input formControlName="aggressive" type="number"  *ngIf="uiMode == 'WRITE'" [(ngModel)]="dashboard.aggressive" placeholder="%">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.aggressive}}% </span>
                <div class="form-error" *ngIf="f.aggressive.errors && f.aggressive.invalid && (f.aggressive.dirty || f.aggressive.touched)">
                  <div *ngIf="f.aggressive.errors.required">Aggressive is required</div>
                  <div *ngIf="f.aggressive.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.aggressive.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.aggressive.errors.min">Min Value 0</div>
                </div>
              </li>
              <li>- Conservative
                <input formControlName="conservative" type="number"  *ngIf="uiMode == 'WRITE'" [(ngModel)]="dashboard.conservative" placeholder="%">
                <span *ngIf="uiMode == 'READ'"> {{dashboard.conservative}}% </span>
                <div class="form-error" *ngIf="f.conservative.errors && f.conservative.invalid && (f.conservative.dirty || f.conservative.touched)">
                  <div *ngIf="f.conservative.errors.required">Conservative is required</div>
                  <div *ngIf="f.conservative.errors.minlength">Min Age 1</div>
                  <div *ngIf="f.conservative.errors.maxlength">Max Age 999</div>
                  <div *ngIf="f.conservative.errors.min">Min Value 0</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="m-t-15 xs-m-b-30">
        <a href="javascript:void(0)" *ngIf="uiMode == 'READ'" (click)="uiMode = 'WRITE'" title="Edit" class="btn dashBtn"> Edit </a>
        <a href="javascript:void(0)" *ngIf="uiMode == 'WRITE'" (click)="cancel()" title="Cancel" class="btn dashBtn"> Cancel </a>
        <a href="javascript:void(0)" [ngClass]="{'disabled': f.regularContributionAboveCeiling.invalid || f.avcContributionBelowCeiling.invalid ||
        f.regularContributionBelowCeiling.invalid || f.avcContributionAboveCeiling.invalid || f.nisCeiling.invalid ||
        f.mandatoryRetirementAge.invalid || f.assumedWorkingAge.invalid || f.aggressive.invalid || f.conservative.invalid}"
        title="Save" (click)="save()" class="btn dashBtn save"> Save </a>
      </div>

    </div>

  </div>
</div>

</div>
