<!-- Mid Content -->
<div class="m-v-25">
  <div class="container">
    <h1 class="custom-heading">NIS Calculator</h1>
    <div class="data-container info-page p-35 xs-p-20">
      <div class="row">
        <div class="col-sm-7 p-r-55 xs-p-r-0 sm-p-r-0 order-lg-1 order-md-1 order-2">
          <h2>Welcome to our <strong>Fortress <br>
            Retirement</strong> Calculator</h2>
          <p>This calculator provides estimates based on assumptions about the future. By using this calculator you accept that such estimates are not guarantees about the future and that the calculator does not provide financial advice.</p>
          <p>The results of the calculations are illustrative only; whilst they are intended to provide estimates of the benefits that you might receive, they should not be relied upon for making financial decisions about the future.</p>
          <a [routerLink]="['/main']" href="javascript:void(0);" class="btn" title="Start Calculator"> Start Calculator </a> </div>
        <div class="col-sm-5 order-lg-2 order-md-1 order-1"> <img class="slideImg img-fluid" src="assets/img/old-couple.jpg" alt="Old Couple"> </div>
      </div>
    </div>
  </div>
</div>
